.clr{
    clear:both;
    font-size:0;
}

/*Strip the ul of padding and list styling*/
#navmenu ul {
	list-style-type:none;
	margin:0;
	padding:0;
    display: block;
}

/*Create a horizontal list with spacing*/
#navmenu ul li {
	float: left;
	margin-right: 1px;
}

/*Style for menu links*/
#navmenu ul li a {
	display:block;
	min-width:120px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
	color: #000000;
	background: white;
	text-decoration: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*Hover state for top level links*/
#navmenu ul li:hover a {
	background: #7BC144;
	color: white;    
}

/*Style for dropdown links*/
#navmenu  ul li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
}

/*Hover state for dropdown links*/
#navmenu ul li:hover ul a:hover {
	background: #7BC144;
	color: white;
}

/*Hide dropdown links until they are needed*/
#navmenu ul li ul {
	display: none;
}

/*Make dropdown links vertical*/
#navmenu ul li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
#navmenu ul li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
#navmenu ul li a:hover + .hidden, #navmenu .hidden:hover {
	display: block;
    position:absolute;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #7BC144;
	text-align: center;
	padding: 10px 0;
	display: none;
    font-size: 16px;
    font-weight: 700;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
    -webkit-appearance: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 620px){
	/*Make dropdown links appear inline*/
	#navmenu ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	#navmenu ul li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	#navmenu ul li, #navmenu ul li a {
		width: 100%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;        
	}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
     #navmenu ul li a:hover + .hidden, #navmenu .hidden:hover {
        position: static;
    }
}
#main {
    max-width: 760px;
    margin: 0 auto;
}

#header {
    float:left;
}

#content {
    clear:both;
    padding: 30px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    align-content: center;
}

#footer {
    clear: both;
    background-color: black;
    color: white;
}

#navmenu {
    padding: 0px;
    margin: 0px;
}

div {
    display: block;
    
}

#navmenu ul .active a {
    color: #FFFFFF;
	background: #7BC144;
}

#navmenulowerbar {
    background-color: #7BC144;
    display:block;
    height: 10px;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.hidden {
    display:none;
}
h2 {
    color:#7BC144;
    font-size: 15px
}

.screenshot {
    max-width: 100%;
    width:auto;
}

.functielijst {
    list-style: square;
}

.footertext {
    padding: 10px;
}

.faqtext {
    font-size: 30px;
    
}
